@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100% 'Open Sans', sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.pink {
  background-color: #e97065;
}
.watermelon {
  font-family: 'Gravitas One', cursive;
}

.yellow {
  background-color: #fbd25e;
}

.starfruit {
  font-family: 'Rammetto One', cursive;
}

.orange {
  background-color: #e86033;
}

.persimmon {
  font-family: 'Comfortaa', cursive;
}
